* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(51, 195, 224);
  color: white;
  border: 1px solid rgba(51, 195, 224);
  margin: 0 1rem;
}

.btn:hover {
  background-color: #70c9e4;
  border-color: rgba(51, 195, 224);
  color: black
}

.btn--alt {
  background-color: transparent;
  color: rgba(51, 195, 224);
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.actions {
  text-align: right;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
